$aa: blue;
$Color:blue;


// 最底层背景色
$BackgroundColor: #f2f2f2;

// 边框
$Border: 1px solid #dcdfe6;

$BorderRadius: 2px;

$FontSize: 14px;

$BoxShadow: 0 1px 2px 0 rgba(0,0,0,.05);

$MenuBackgroundColor: #11193c;

$Padding: 10px;

.xie-panel{
	border: $Border;
	background-color: #fff;
	border-radius: $BorderRadius;
	padding: $Padding;
	@include xie-box-shadow;
}